name: 02-workflow-events
on:
  push:
  push_request:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the triggering event
        run: echo "I've been triggered by a(n) ${{github.event_name}} event."
